h1{background-color: blue; font-weight: bold; font-size: 40px;}
nav{background-color: gray; font-size: 28px;}
section{background-color: orange;}
footer{background-color: maroon; font-size: 28px; font-weight: bold;}
#second{background-color: red;}
#third{background-color: yellow;}
ul{padding: 0; list-style-type: none;}
#reviews{font-size: 20px;}
